div.error-wrapper {
  padding: 10px;
  background: #ffffcc;
  width: 300px;
  border: #ffffaa 1px outset;
  margin-top: 30px;
}

div.error-wrapper div.error-body {
  padding: 10px;
  text-align: left;
}

div.error-wrapper h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 13px;
}

div.error-wrapper p {
  margin: 0;
  margin-bottom: 20px;
}

div.error-wrapper div.error-actions {
  display: block;
  text-align: right;
  padding: 5px;
}
div.error-wrapper div.error-actions a {
  display: inline-block;
  padding: 2px 5px;
  background-color: gray;
  color: white;
  text-decoration: none;
}
div.error-wrapper div.error-actions a:hover {
  background-color: purple;
}
