html,
body {
  font: 8pt/10pt verdana;
}

body {
    background: url("../assets/test.gif") repeat;
}

table {
  text-align: left;
  font: 8pt/10pt verdana;
}

ul {
    padding: 0;
    margin: 10px 0;
    margin-left: 30px;
}