html,
body {
  font: 8pt/10pt verdana;
}

body {
    background: url("../assets/test.gif") repeat;
}

table {
  text-align: left;
  font: 8pt/10pt verdana;
}

ul {
    padding: 0;
    margin: 10px 0;
    margin-left: 30px;
}

ul li {
    padding: 2px 0;
}

h1 {
    font-size: 12pt;
}

h2 {
    font-size: 10pt;
}

h2,h3,h4,h5,h6 {
    margin: 0;
    margin-bottom: 5px;
}

img {
    vertical-align: middle;
}

table td p {
    margin: 0;
}

table.welcome-table {
    margin-bottom: 4px;
}

table.welcome-table p {
    margin-bottom: 10px;
}

div.progress-bar {
    width: 100%;
    height: 16px;
    background-color: #aaa;
    overflow:hidden;
    outline: #aaa inset 2px;
}
div.progress-bar div.inner {
    background-color: #00f;
    height: 20px
}